
<div id="footer-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col1 col-lg-6">
        <h3>About Us</h3>
        <p>It also ignores extra spaces. If there are two spaces between words in the HTML file, the browser will display the
          text in exactly the same way as if there was only one. Blank lines are ignored in a similar way. The browser also
          tries to correct errors in incorrect HTML</p>
      </div>
      <div class="col2 col-lg-6">
        <h3>Contact Us</h3>
        <p>stree 91 sjhdk belgaum</p>
        <p>9876543210</p>
        <p>support@gmail.com</p>
        <i class="footer-icon fab fa-twitter"></i>
        <i class="footer-icon fab fa-facebook-f"></i>
        <i class="footer-icon fab fa-instagram"></i>
        <i class="footer-icon fas fa-envelope"></i>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.js" charset="utf-8"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/additional-methods.js" charset="utf-8"></script>
<script src="javascript/index.js" charset="utf-8"></script>

</body>

</html>
