<%-include('partials/header');-%>

  <div id="steps-section">
    <h1>Here's a glimpse of how we work.</h1>
      <div class="step1">
        <img src="https://i.imgur.com/jA9YZdi.jpg" alt="">
        <h2>Step 1</h2>
        <ul>
          <li>Fill out the form below.</li>
          <li>Mention the address from where we can collect the items.</li>
          <li>Kindly check the items you wish to donate(more than is allowed).</li>
        </ul>
      </div>
    <div class="step1">
        <img class="img2" src="https://i.imgur.com/j21BXH9.jpg" alt="">
        <h2>Step 2</h2>
        <ul>
          <li>One of our voulnteer will collect the item from your place(as specified in the form)</li>
          <li>We will drop a message as in,when our voulnteer will be visiting your place.Its just to confirm your presence</li>
          <li>Kindly pack up the items and handover to the voulnteer(we recommend not use plastic bags)</li>
        </ul>
    </div>
    <div class="step1">
        <img src="https://i.imgur.com/IlpQpVC.jpg" alt="">
            <h2>Step 3</h2>
        <ul>
          <li>We will donate the items to the needy children based on their needs</li>
        </ul>
      </div>
  </div>
  <div>
    <h3>Please fill the form below.</h3>
    </div>
  <form id="form-section" action="/donate" method="POST">
    <div class="form-row">
      <div class="form-group col-lg-6">
        <label for="firstname">First Name</label>
        <sup>*</sup>
        <input type="text" class="form-control" id="firstname" name="fName" placeholder="First Name">
      </div>
      <div class="form-group col-lg-6">
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" id="lastname" name="lName" placeholder="Last Name">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-lg-6">
        <label for="email">Email</label>
        <sup>*</sup>
        <input type="email" class="form-control" id="email" name="email" placeholder="Gmail-Id">
      </div>
      <div class="form-group col-lg-6">
        <label for="Phonenum">Phone Number</label>
        <sup>*</sup>
        <input type="text" class="form-control" id="Phonenum" name="mobileNumber" placeholder="908761234">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-lg-12">
        <label for="address">Address</label>
        <sup>*</sup>
        <input type="text" class="form-control" id="address" name="address" placeholder="1234 Main Street">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-lg-12">
        <label for="address1">Address1</label>
        <input type="text" class="form-control" id="address1" name="address1" placeholder="Apartment,studio or floor">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputCity">City</label>
        <sup>*</sup>
        <input type="text" class="form-control" id="inputCity" name="cityName">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <sup>*</sup>
        <select name="state" class="form-control" id="inputstate">
          <option value="">None</option>
          <option value="karnataka">karnataka</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputZip">Zip</label>
        <sup>*</sup>
        <input type="text" class="form-control" id="inputZip" name="zipCode">
      </div>
    </div>


    <div class="form-group row">
      <div class="col-sm-12 col-form-label-lg">Items You Wish To Donate<sup>*</sup><span id="errormsgs"></span></div>

    </div>
    <div class="form-group row checkbox-group">
      <div class="col-sm-4">
        <div class="form-check">
          <input class="form-check-input custom-checkbox" type="checkbox" name="item" id="gridCheck1" value="Books">
          <label class="form-check-label" for="gridCheck1">Books</label>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="item" id="gridCheck1" value="Clothes">
          <label class="form-check-label" for="gridCheck1">Clothes</label>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="item" id="gridCheck1" value="Shoe">
          <label class="form-check-label" for="gridCheck1">Shoe</label>
        </div>
      </div>
      <button type="submit" class="btn submit-button btn-primary">Submit</button>
    </div>
  </form>



  <%-include('partials/footer');-%>
