<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">

  <!-- Font-Awesome -->
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

<!-- Jqery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  <title></title>
</head>

<body>
  <!-- title Section -->
  <div class="title">
    <img class="title-image" src="https://imgur.com/mNwzpuH.png" alt="">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="">BeaFriend</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/donate">Donate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#footer-section">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#footer-section">About Us</a>
          </li>
        </ul>
      </div>
    </nav>

  </div>

  <!-- Working section -->
  <div id="Working-section">
    <div class="sect1">
      <h2>Who We Are?</h2>
      <p class="work-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
        ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>
    <div class="sect2">
      <h2>What We Do?</h2>
      <p class="work-text">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
         Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? </p>
    </div>
    <div class="sect1">
      <h2>How We Do?</h2>
      <p class=work-text>"Sed ut perspiciatis unde omnis iste natus error sit
        voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
        ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
        dicta sunt explicabo.Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? </p>
    </div>
  </div>

  <!-- Helping section -->
  <section class="white-section" id="donate">
  <h2 class="section-heading">How <em>Could</em> You Help Us</h2>
  <p class="help-text">Just by Donating one of the following</p>
  <div class="row">
    <div class="card-block col-lg-4 col-md-12">
      <div class="card text-white bg-info border-secondary">
        <div class="card-header">
          <img class="card-img" src="https://imgur.com/qUF1yKs.png" alt="">
          <h3 class="pricing-title">Books</h3>
        </div>
        <div class="card-body">
          <p>Story Books</p>
          <p>Notebooks with left over pages</p>
          <p>Dictionaries</p>
          <p>Old Textbooks</p>
          <p>Any Reading Books</p>
              <a class="btn btn-block btn-light btn-lg" href="/donate" role="button" >Donate Now</a>
                  </div>
      </div>
    </div>
    <div class="card-block col-lg-4 col-md-12">
      <div class="card text-white bg-info border-secondary">
        <div class="card-header">

            <img class="card-img" src="https://imgur.com/F5Irwoc.jpeg" alt="">
          <h3 class="pricing-title">Clothes</h3>
        </div>
        <div class="card-body">
          <p>Used/New and untorn</p>
          <p>blankets</p>
          <p>Sweaters</p>
          <p>Jackets</p>
          <p>Any type of Clothing</p>
            <a class="btn btn-block btn-light btn-lg" href="/donate" role="button" >Donate Now</a>
        </div>
      </div>
    </div>
    <div class="card-block col-lg-4 col-md-12">
      <div class="card text-white bg-info border-secondary">
        <div class="card-header">

            <img class="card-img" src="https://imgur.com/lvA6lWw.jpg" alt="">
          <h3 class="pricing-title">Shoes</h3>
          </div>
          <div class="card-body">
            <p>Used/New and untorn</p>
            <p>school shoe</p>
            <p>Sandals</p>
            <p>slippers</p>
            <p>Boots</p>
          <a class="btn btn-block btn-light btn-lg" href="/donate" role="button" >Donate Now</a>
          </div>
        </div>
      </div>
    </div>
</section>


<%-include('partials/footer');-%>
