<%-include('partials/header');-%>

<div class="jumbotron">
<div class="container">
  <h1 class="display-4 overflow">Thank you, <%= name%></h1>
  <p class="lead">Giving is not just about make a donation,it's about making a difference.You are just creating a better life.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
  </p>
</div>
</div>
</body>
</html>
