/* Section */
.coloured-section {
  background-color: #b7b7b7;
  height:80px;
}

.navbar{
  position:relative;
  padding:10px 20px 0 20px;
}

sup{
  color:red;
  font-size:15px;
}

#form-section{
  margin:10px;
  border:2px solid black;
  padding:20px;
}

.form-check-input{
  height:20px;
  width:20px;
}

.form-check-label{
  font-size:1rem;
  margin-left: 5px;
  font-weight: bolder;
}

  .submit-button {
    width:200px;
    margin:auto;
    margin-top: 50px;
    text-align:center;
}

/* steps section */

#steps-section{
  margin:10px;
}

h1{
  color:#184d47;
  margin:10px 10px 30px 10px;
}

h2{
  color:#fbd46d;
  font-size: 3rem;

}
li{
  color:#4f8a8b;
  font-size:1.1rem;
}

.step1{
  width:100%;
  margin:10px 0 10px 0;
  line-height: 2;
  text-align:none;
}

img{

  width: 50%;
  float:none;
  margin:auto;
}

#footer-section{
  margin-top: 100px;
}

.jumbotron{
  text-align: center;
  padding:10px;
  margin-top:100px;
  margin-left:20px;
  margin-right:20px;
}
