/* heading */
h2{
  color: #fbd46d;
  font-size: 2rem;
}

h3{
    font-size:1.5rem;
}



/* Navigation bar */

.navbar{
  top: 0;
  left: 0;
  width:100%;
  padding:5px 10px 2px 10px;
}

.navbar-brand{
  font-size:20px;
  padding-left:2px;
}

.navbar-toggler-icon{
  width:1em;
  height:1em;
}
  /* working section */

#Working-section{
  padding:3% 5%;
}

.sect1{
  width:100%;
}

.work-text, .help-text, #footer-section{
font-size: 0.9rem;
line-height: 1;
}

.sect2{
  width:100%;
}

/* helping section */


.card{
  margin-top:12px;
}

.card-block{
  padding-left: 35px;
  padding-right: 35px;
}


/* footer section */
#footer-section{
  padding:5% 3% 3%;
}

.footer-heading{
  margin-bottom:0.3rem;
}

.col2{
  margin-top:10px;
  text-align:right;
}
